@using AspNetCoreIdentity.Extensions
@{
    ViewData["Title"] = "Secret Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's secret policy.</p>

@{
    if (this.ifClaim("Produtos", "Adicionar"))
    {
        <p>Você só verá se tiver permissão de adicionar!</p>
    }
}

<div>
    @Html.ActionLink("Secret","Secret").ifClaimShow(Context, "Produtos", "Adicionar")
</div>
<br />
<div>
    <a href="#" class="btn btn-danger @Html.Raw(this.ifClaimShow("Produtos","Adicionar"))">Excluir</a>

</div>


